[Unit]
Description=Change wallpaper every 15 minutes

[Timer]
OnActiveSec=0sec
OnUnitActiveSec=15min
AccuracySec=500msec

[Install]
WantedBy=X.target
