# Random Photo Every Login
# feh --bg-scale --randomize ~/Pictures/wallpapers/* &
systemctl --user start X.target

# Monitor Config
#xrandr --auto --output DVI-D-0 --mode 1920x1080 --left-of HDMI-0

# Network Manager Applet
#nm-applet --indicator &

# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# Speedy keys
#xset r rate 210 40

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="google-chrome"

# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Compositor
picom -b
#picom --config $HOME/.config/picom/picom-ibhagwan.conf &

# Hide mouse when typing
xbanish &

# Screenshots
#flameshot &

# Bluetooth systray icon
#blueman-applet &

# helps with pulseaudio
#pasystray &

# Screen applet (his will break everything)
#screenkey --start-disabled

# remap caps to escape
setxbmap -option caps:escape
# swap escape and caps
#setxbmap -option caps:swapescape

# load Xrresoures
xrdb ~/.Xresourses

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh
